body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a;
    color: #fff;
}

.section1 {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("bg.jpg") no-repeat center center/cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav h1 {
    font-size: 30px;
}

nav h1 img{
    height: 250px;
    width: auto;
    top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: gray;
}

.slideshow-container {
    max-width: 60%;
    margin: 150px auto 0;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: auto;
    border: 2px solid #fff;
}

.photo-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 50px 0;
}

.photo {
    flex: 0 0 30%;
    margin: 20px;
}

.photo img {
    width: 100%;
    height: auto;
}
.slideshow-container {
    position: relative;
    max-width: auto;
    margin: auto;
    padding-top: 150px;
    padding-left: 50px;
    float: left;
}

.slide {
    display: none;
    width:600px ;
    height: 369px;
}

.me{
    position: relative;
}

.me img{
    height: 400px;
    width: auto;
    float: right;
    margin-right: 150px;
    margin-top: 140px;
    border-radius: 50%;
}

.intro{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 250px;
}

.intro a {
    text-decoration: none;
    color: white;
}

.intro a:hover{
    color: aqua;
}

.container .btn {
    margin: 250px auto 70px; 
    background: #2e2e2e;
    padding: 15px 40px;
    border-radius: 5px;
    width: 150px; 
    text-align: center;
    color: #f0f0f0;
    font-size: 18px;
    text-decoration: none; 
    display: block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.3s;
}

.container .btn:hover {
    background: linear-gradient(45deg, #444, #333);
    transform: translateY(-2px);
}